body {
	margin: 0;
	padding: 0;
	overflow:hidden;
	position:relative;
	z-index:0;
	background-color:#000000;
}
div#WebGL-output {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
* {
	margin:0;
	padding:0;
}
#interface {
	position:absolute;
	right:0;
	top:0;
	z-index:5;
}
#enterVr img {
	position:absolute;
	left:0;
	top:0;
	z-index:5;
	width:100px;
	background:rgba(0, 0, 0, 0.3);
	border-radius:10px;
	padding:0 10px;
	margin:5px;
}